body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
.photo {
  border-radius: 50%;
  object-fit: cover;
}

.introduction {
  font-size: medium;
  font-weight: normal;
}

.education-heading {
  font-size: large;
}

.list-image {
  width: 50%;
}